@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");
* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif; }
  body .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; }

header {
  background-image: url(../images/img-05.jpg);
  height: 100vh; }
  header ul {
    margin: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    padding-top: 20px; }
    header ul li {
      margin: 0;
      list-style-type: none; }
      header ul li a {
        color: #fff;
        text-decoration: none;
        margin-right: 20px; }
