@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0; }

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #454545; }
  body .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; }

p {
  line-height: 1.6;
  font-weight: 300; }

.first-header {
  font-size: 50px;
  font-weight: 100;
  color: #fff;
  text-align: center; }

.second-header {
  text-align: center;
  font-weight: 600;
  font-size: 40px;
  padding-top: 20px;
  position: relative;
  margin-bottom: 80px; }
  .second-header:after {
    content: "";
    border-bottom: 3px dotted #28a5df;
    width: 80px;
    height: 20px;
    position: absolute;
    top: 85px;
    left: calc(50% - 40px); }

.third-header {
  color: #454545;
  font-weight: 700;
  font-size: 20px; }

.dark {
  color: #454545; }

.light {
  color: #fff; }

.fas {
  color: #28a5df;
  font-size: 40px;
  text-align: center;
  display: block; }

.header-icon {
  font-size: 40px;
  text-align: center;
  display: block;
  color: #28a5df; }

.main-color {
  color: #28a5df; }

.button,
.link {
  background-color: #28a5df;
  padding: 5px 10px;
  width: 100px;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  transition: 0.3s;
  border: none;
  margin: 0 auto;
  display: block;
  font-size: 18px;
  font-family: "Poppins";
  text-decoration: none; }
  .button:hover,
  .link:hover {
    background-color: #2594c7;
    cursor: pointer; }

header {
  background-image: url(../images/img-05.jpg);
  height: 100vh; }
  header ul {
    margin: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    padding-top: 80px; }
    header ul li {
      margin: 0;
      list-style-type: none;
      position: relative; }
      header ul li a {
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        padding: 1.5rem;
        font-size: 1rem;
        font-weight: 500; }
        header ul li a.sign {
          font-size: 120px;
          font-weight: 800;
          position: relative;
          top: -90px; }
          header ul li a.sign:before {
            content: "";
            width: 0;
            height: 0;
            border-top: 30px solid #28a5df;
            border-right: 10px solid transparent;
            border-left: 10px solid transparent;
            position: absolute;
            top: 64px;
            left: 59px; }
  header .header-desc {
    text-align: center;
    margin-top: 30px;
    font-weight: 300;
    letter-spacing: 0.5px;
    max-width: 70%;
    margin: 30px auto 0; }
  header .img-laptop {
    position: relative;
    top: 50px;
    left: 50px;
    width: 600px; }
  header .fa-angle-double-down {
    color: #fff;
    margin: 0 auto;
    position: relative;
    display: block;
    text-align: center;
    font-size: 25px;
    top: 230px;
    animation-name: arrow;
    animation: arrow 6s infinite; }

@keyframes arrow {
  0% {
    top: 260px; }
  50% {
    top: 230px; }
  100% {
    top: 260px; } }

.about {
  padding-top: 60px; }
  .about .about-sections {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-top: 20px; }
    .about .about-sections .about-desc {
      padding: 0 60px; }
      .about .about-sections .about-desc span {
        color: #28a5df; }
    .about .about-sections .img-tel {
      width: 300px;
      height: 535px;
      margin-left: 50px;
      position: relative;
      top: -150px; }

.skills {
  padding-top: 50px;
  margin-top: -100px;
  background-color: #0404040d;
  padding-bottom: 60px; }
  .second-header .skills:after {
    border-bottom: 3px dotted #28a5df; }
  .skills .skills-icons {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    border-radius: 50%;
    padding-top: 30px; }
    .skills .skills-icons .fab {
      font-size: 40px;
      color: #454545;
      display: block;
      border-radius: 50%;
      height: 300px;
      width: 300px;
      margin: 0;
      border: 3px solid #28a5df; }
  .skills .soft-skills {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 85%;
    margin: 40px auto 0; }
    .skills .soft-skills .skills-item {
      padding: 20px;
      display: -ms-flexbox;
      display: flex; }
      .skills .soft-skills .skills-item .third-header {
        margin-bottom: 15px; }
      .skills .soft-skills .skills-item .far {
        font-size: 30px;
        padding-top: 10px;
        color: #28a5df; }
      .skills .soft-skills .skills-item .skills-desc {
        padding-left: 30px; }
  .skills .skills-icons {
    max-width: 35%;
    margin: 0 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .skills .skills-icons .fab {
      margin: 20px 40px; }
  .skills .hexagon {
    width: 100px;
    height: 55px;
    background: #e1e2e2;
    position: relative;
    text-align: center;
    line-height: 55px;
    font-size: 18px;
    font-weight: 400;
    margin: 14px 2px;
    color: #454545; }
    .skills .hexagon:before {
      content: "";
      position: absolute;
      top: -25px;
      left: 0;
      width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-bottom: 25px solid #e1e2e2; }
    .skills .hexagon:after {
      content: "";
      position: absolute;
      bottom: -25px;
      left: 0;
      width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-top: 25px solid #e1e2e2; }

.projects {
  padding-top: 50px;
  width: 95%;
  margin-left: auto;
  margin-right: auto; }
  .projects .project-item {
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 100px; }
    .projects .project-item:nth-child(even) {
      text-align: right; }
    .projects .project-item .project-paragraph {
      font-weight: 400; }
    .projects .project-item .img-wrapper {
      -ms-flex: 1;
          flex: 1;
      padding: 0 50px; }
      .projects .project-item .img-wrapper img {
        width: 100%;
        height: 100%;
        -o-object-fit: contain;
           object-fit: contain; }
    .projects .project-item .project-desc {
      padding: 0 50px;
      width: 50%; }
      .projects .project-item .project-desc .checkmark {
        padding: 0; }
        .projects .project-item .project-desc .checkmark li {
          list-style: none;
          padding: 0 0 0 25px;
          position: relative;
          line-height: 36px;
          margin: 0; }
          .projects .project-item .project-desc .checkmark li:after {
            content: "";
            position: absolute;
            top: 10px;
            left: 2px;
            width: 4px;
            height: 10px;
            border: solid #28a5df;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg); }
    .projects .project-item .project-header {
      color: #454545;
      font-size: 30px;
      font-weight: 600;
      margin: 30px 0 10px 0; }
    .projects .project-item .project-technology {
      margin-bottom: 30px;
      font-size: 18px;
      font-weight: 500;
      color: #28a5df; }
    .projects .project-item .project-links {
      display: -ms-flexbox;
      display: flex; }
      .projects .project-item .project-links .project-link {
        text-decoration: none;
        background-color: #454545;
        margin: 40px 15px;
        padding: 5px 10px;
        width: 100px;
        text-align: center;
        color: #fff;
        border-radius: 5px;
        transition: 0.3s; }
        .projects .project-item .project-links .project-link:hover {
          background-color: #2e2e2e; }
    .projects .project-item .right {
      -ms-flex-pack: end;
          justify-content: flex-end; }

.contact {
  background-color: #0404040d;
  padding-bottom: 50px;
  padding: 50px 0; }
  .contact .contact-media {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: center;
        justify-content: center; }
    .contact .contact-media i {
      color: #454545;
      margin: 10px 30px 50px 30px;
      transition: 0.5s;
      font-size: 42px;
      background-color: white; }
      .contact .contact-media i:hover {
        color: #272727; }
  .contact .data-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-direction: column;
        flex-direction: column;
    margin-bottom: 20px; }
  .contact .contact-form {
    width: 50%;
    margin: 0 auto; }
    .contact .contact-form .wrapper {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: row;
          flex-direction: row;
      -ms-flex-pack: justify;
          justify-content: space-between; }
      .contact .contact-form .wrapper .form-item:first-child {
        margin-right: 15px; }
      .contact .contact-form .wrapper .form-item:last-child {
        margin-left: 15px; }
    .contact .contact-form .form-item {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
      width: 100%; }
      .contact .contact-form .form-item input,
      .contact .contact-form .form-item textarea {
        border: none;
        background-color: white;
        margin-bottom: 25px;
        width: 100%;
        border-radius: 5px;
        box-shadow: 1px 1px 10px #dcdcdc; }
        .contact .contact-form .form-item input:focus,
        .contact .contact-form .form-item textarea:focus {
          outline: none; }
      .contact .contact-form .form-item textarea {
        padding: 20px; }
      .contact .contact-form .form-item input {
        line-height: 36px;
        height: 36px;
        padding: 0 20px;
        padding: 0 20px;
        font-size: 18px;
        color: #454545; }
      .contact .contact-form .form-item label {
        padding-bottom: 8px;
        font-weight: 700;
        font-size: 18px;
        color: #4242429e; }
  .contact .button {
    margin-top: 15px; }

footer {
  background-color: #454545; }
  footer .footer-desc {
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 12px; }
