$main-color: #3d90d9;
$main-color-dark: #275d8c;
$main-color-light: rgba(227, 230, 237, 0.39);
$second-color: #fff;
$third-color: #595856;
$fourth-color: #999;
$fiveth-color: #252525;
$bg-light: #97979713;
$btn-hover: #2594c7;
$additional-color: #f1ea15;
$color-hex: #595856b4;
