@import "variables";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Big+Shoulders+Text:400,600,700,800,900|Monda&display=swap&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Big+Shoulders+Text:400,500, 600,700,800,900|Monda|Roboto+Condensed&display=swap&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Righteous&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-size: 20px;
}

body {
  font-family: "Poppins", sans-serif;
  color: $third-color;

  .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
}

p {
  line-height: 1.6;
  font-weight: 300;
}

.second-header {
  text-align: center;
  font-weight: 600;
  font-size: 2rem;
  padding-top: 20px;
  position: relative;
  margin-bottom: 80px;

  &:after {
    content: "";
    border-bottom: 3px solid $main-color;
    width: 80px;
    height: 20px;
    position: absolute;
    top: 85px;
    left: calc(50% - 40px);
  }
}

.third-header {
  color: $third-color;
  font-weight: 700;
  font-size: 1.2rem;
}

.dark {
  color: $third-color;
}

.light {
  color: $second-color;
}

.header-icon {
  font-size: 2.5rem;
  text-align: center;
  display: block;
  color: $main-color;
}

.main-color {
  color: $main-color;
}

.button,
.link {
  background-color: #28a5df;
  padding: 5px 10px;
  width: 100px;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  transition: 0.3s;
  border: none;
  margin: 0 auto;
  display: block;
  font-size: 1rem;
  font-family: "Poppins";
  text-decoration: none;

  &:hover {
    background-color: $btn-hover;
    cursor: pointer;
  }
}

.flex {
  display: flex;
}

.display {
  display: inline-block;
}

// ================== section header ===========================
header {
  background-color: $main-color-dark;
  background-size: cover;
  height: 100vh;
  position: relative;

  .hamburger-wrapper {
    width: 30px;
    height: 35px;
    position: absolute;
    top: 20px;
    right: 20px;
    display: none;

    &:hover {
      cursor: pointer;
    }

    .hamburger {
      width: 30px;
      height: 5px;
      background-color: $second-color;
      position: absolute;
      top: 15px;
      font-size: 20px;

      &::before {
        content: "";
        width: 30px;
        height: 5px;
        background-color: $second-color;
        position: absolute;
        top: -10px;
      }

      &::after {
        content: "";
        width: 30px;
        height: 5px;
        background-color: $second-color;
        position: absolute;
        top: 10px;
      }
    }
  }

  .header-wrapper {
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .main-header {
      width: 45%;
      background-color: rgba(255, 255, 255, 0.2);
      padding: 2% 3%;
      text-align: center;
      z-index: 0;
      margin: 4% auto 2%;
      font-weight: 400;
      font-size: 1.9rem;
      font-family: "Roboto Condensed", sans-serif;
      color: $second-color;
      font-family: "Righteous", cursive;

      &::first-letter {
        color: $additional-color;
        font-size: 3rem;
      }
    }

    .header-desc {
      width: 100%;
      text-align: center;
      font-weight: 400;
      font-size: 0.8rem;
    }

    .laptop {
      max-width: 15%;
      height: auto;
      opacity: 0.9;
    }
  }

  ul {
    display: flex;
    justify-content: flex-end;
    max-width: 97%;
    padding-top: 40px;
    position: relative;
    z-index: 1;

    li {
      margin: 0;
      list-style-type: none;
      position: relative;

      a {
        color: $second-color;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 0.6rem;
        font-size: 0.8rem;
        font-weight: 300;
        &:hover {
          border-bottom: 3px solid $additional-color;
        }
      }
    }
  }

  .triangle {
    width: 0;
    height: 0;
    border-left: 70px solid transparent;
    border-bottom: 70px solid $additional-color;
    border-top: 70px solid transparent;
    border-right: 70px solid transparent;
    position: absolute;
    top: -48px;
    left: 161px;
    transform: rotate(25deg);
    opacity: 1;

    &:before {
      content: "";
      width: 0;
      height: 0;
      border-left: 35px solid transparent;
      border-bottom: 100px solid $additional-color;
      border-top: 0 solid transparent;
      border-right: 35px solid transparent;
      position: absolute;
      top: 10px;
      left: 90px;
      transform: rotate(180deg);
      opacity: 0.6;
    }

    &:after {
      content: "";
      width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-bottom: 50px solid $additional-color;
      border-top: 50px solid transparent;
      border-right: 50px solid transparent;
      position: absolute;
      top: 83px;
      left: -20px;
      transform: rotate(280deg);
      opacity: 0.4;
    }
  }
}

// ================== section about ===========================

.about {
  padding-top: 60px;
  padding-bottom: 220px;
}

:root {
  --level-one: translateZ(3rem);
  --level-two: translateZ(6rem);
  --level-three: translateZ(9rem);

  --fw-normal: 400;
  --fw-bold: 700;

  --clr: #96b0c2;
}

.card {
  width: 80%;
  margin: 0 auto;
}

.card__content {
  text-align: center;
  position: relative;
  padding: 15em 5em;
  transition: transform 3s;
  transform-style: preserve-3d;
}

.card:hover .card__content {
  transform: rotateY(0.5turn);
}

.card__front,
.card__back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5em 3em;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  display: grid;
  align-content: center;
}

.card__front {
  background-color: var(--clr);
  background-image: url("../images/imageAbout.jpg");
  background-size: cover;
  background-blend-mode: overlay;
  color: #333;
}

.card__front::before {
  content: "";
  position: absolute;
  --spacer: 1em;
  top: var(--spacer);
  bottom: var(--spacer);
  left: var(--spacer);
  right: var(--spacer);
  border: 3px solid currentColor;
  transform: var(--level-one);
}

.card__title {
  font-size: 3.5rem;
  transform: var(--level-three);
  order: 2;
}

.card__subtitle {
  transform: var(--level-two);
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 0.75rem;
  font-weight: var(--fw-bold);
  opacity: 1;
}

.card__text {
  transform: var(--level-two);
  letter-spacing: 4px;
  font-size: 0.75rem;
  font-weight: var(--fw-bold);
  opacity: 1;
  order: 3;
  padding-top: 20px;
}

.card__button {
  transform: var(--level-two);
  letter-spacing: 4px;
  font-size: 0.75rem;
  font-weight: var(--fw-bold);
  opacity: 1;
  order: 4;
  padding: 10px 10px;
  width: 90px;
  border: 1px solid currentColor;
  margin-top: 40px;
}
.card__body {
  transform: var(--level-two);
  font-weight: var(fw-normal);
  font-size: 1rem;
  line-height: 1.6;
}

.card__back {
  transform: rotateY(0.5turn);
  color: #fff;
  background: $third-color;
}

.tps-section {
  width: 100%;
  height: 500px;
  -webkit-perspective: 10em;
  -moz-perspective: 10em;
  -ms-perspective: 10em;
  -o-perspective: 10em;
  perspective: 10em;
  -webkit-perspective-origin: center bottom;
  -moz-perspective-origin: center bottom;
  -ms-perspective-origin: center bottom;
  -o-perspective-origin: center bottom;
  perspective-origin: center bottom;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  -o-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.tps-wrapper {
  float: left;
  width: 100%;
  height: 100%;
}

.transform {
  transform: rotateY(0.5turn);
}
// ================== section skills ===========================

.skills {
  padding-top: 50px;
  margin-top: -100px;
  background-color: $bg-light;
  padding-bottom: 60px;

  .second-header &:after {
    border-bottom: 3px dotted $main-color;
  }

  .soft-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 85%;
    margin: 40px auto 0;

    .skills-item {
      padding: 20px;
      display: flex;
      width: 25%;

      .fas {
        color: $main-color;
        font-size: 1.4rem;
      }

      .third-header {
        margin-bottom: 15px;
      }

      .skills-desc {
        padding-left: 20px;
      }
    }
  }

  .skills-icons {
    width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .fab {
      margin: 20px 40px;
    }
  }

  .hexagon {
    width: 100px;
    height: 55px;
    position: relative;
    text-align: center;
    line-height: 55px;
    font-size: 16px;
    font-weight: 600;
    margin: 18px 6px;
    color: #fff;
    transition: 0.5s;
    background-color: $color-hex;

    &:before {
      content: "";
      position: absolute;
      top: -25px;
      left: 0;
      width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-bottom: 25px solid $color-hex;
    }

    &:after {
      content: "";
      position: absolute;
      bottom: -25px;
      left: 0;
      width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-top: 25px solid $color-hex;
    }
  }
}

// ================== section projects ===========================

.projects {
  padding-top: 50px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;

  .project-item {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;

    &:nth-child(even) {
      text-align: right;
    }

    .project-paragraph {
      font-weight: 400;
    }

    .img-wrapper {
      flex: 1;
      position: relative;
      max-width: 700px;
      width: 100%;
      height: auto;
      max-height: 466px;
      height: 100%;
      transition: 5s;
      img {
        width: 100%;
        max-width: 700px;
        height: auto;
        max-height: 466px;
        object-fit: contain;
        // outline: 2px solid $main-color-light;
        outline-offset: -25px;
        box-shadow: 0px 0px 10px #a8b5bb;
      }

      &:hover .project-img-icons {
        opacity: 1;
        transition: 2s;
      }

      .project-img-icons {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: $main-color-dark;
        opacity: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: 3px solid #fff;
        outline-offset: -25px;

        a {
          margin: 0 30px;
          font-size: 1.5rem;
          color: #fff;
          text-shadow: 0 0 1px #000;
          border: 2px solid #fff;
          width: 20%;
          height: 60px;
          text-align: center;
          line-height: 60px;
          box-shadow: 0 0 15px #fff;
        }
      }
    }

    .project-desc {
      padding: 0 50px;
      width: 50%;

      .checkmark {
        padding: 0;

        li {
          list-style: none;
          padding: 0 0 0 25px;
          position: relative;
          line-height: 36px;
          margin: 0;

          &:after {
            content: "";
            position: absolute;
            top: 10px;
            left: 2px;
            width: 4px;
            height: 10px;
            border: solid $main_color;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
          }
        }
      }
    }

    .project-header {
      color: $third-color;
      font-size: 1.6rem;
      font-weight: 600;
      margin: 0px 0 10px 0;
    }

    .project-technology {
      margin-bottom: 30px;
      font-size: 1rem;
      font-weight: 500;
      color: $main-color;
    }

    .project-links {
      display: flex;

      .project-link {
        text-decoration: none;
        background-color: #565759;
        margin: 40px 15px;
        padding: 5px 10px;
        width: 100px;
        text-align: center;
        color: $second-color;
        border-radius: 5px;
        transition: 0.5s;

        &:hover {
          background-color: #3d90d9;
        }
      }
    }

    .right {
      justify-content: flex-end;
    }
  }
}

// ================== section contact ===========================
.contact {
  background-color: $bg-light;
  padding: 50px 0 0 0;

  .contact-media {
    display: flex;
    flex-direction: row;
    justify-content: center;

    i {
      color: $third-color;
      margin: 10px 30px 50px 30px;
      transition: 0.5s;
      font-size: 2.4rem;
      background-color: white;

      &:hover {
        color: #272727;
      }
    }
  }

  .data-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .contact-form {
    width: 50%;
    margin: 0 auto;

    .name-email-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .form-item:first-child {
        margin-right: 15px;
      }

      .form-item:last-child {
        margin-left: 15px;
      }
    }

    .form-item {
      display: flex;
      flex-direction: column;
      width: 100%;

      input,
      textarea {
        border: none;
        background-color: white;
        margin-bottom: 25px;
        width: 100%;
        border-radius: 5px;
        box-shadow: 1px 1px 10px #dcdcdc;

        &:focus {
          outline: none;
        }
      }

      textarea {
        padding: 20px;
      }

      input {
        line-height: 36px;
        height: 36px;
        padding: 0 20px;
        padding: 0 20px;
        font-size: 1rem;
        color: rgb(69, 69, 69);
      }

      label {
        padding-bottom: 8px;
        font-weight: 700;
        font-size: 1rem;
        color: rgb(69, 69, 69);
      }
    }
  }

  .button {
    margin-top: 15px;
  }
}

// ================== section footer ===========================

footer {
  background-color: $third-color;

  .footer-desc {
    text-align: center;
    line-height: 50px;
    color: $second-color;
    font-size: 0.7rem;
  }
}

// ================== media ===========================

@media (max-width: 1199px) {
  html {
    font-size: 20px;

    header {
      .triangle {
        left: 60px;
        top: -30px;
      }
    }

    .skills .soft-skills .skills-item {
      width: 50%;
    }

    .projects .project-item {
      margin: 20px 0;
      display: flex;

      img {
        margin-bottom: 20px;
      }

      .project-desc {
        width: 100%;
        margin: 30px auto 0;
      }

      &:nth-child(odd) {
        display: flex;
        flex-direction: column;
      }

      &:nth-child(even) {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
      }
    }

    .contact .contact-form {
      width: 80%;
    }
  }
}

@media (max-width: 991px) {
  html {
    font-size: 18px;

    //  =============== media header =============================
    body {
      font-size: 18px;

      header {
        .triangle {
          left: 50px;

          &:after {
            border-left: 40px solid transparent;
            border-bottom: 40px solid #d6ce15;
            border-top: 40px solid transparent;
            border-right: 40px solid transparent;
          }
        }
      }

      header .header-wrapper {
        .main-header {
          margin: 80px 0 5% 0;
          width: 40%;
        }

        .laptop {
          min-width: 20%;
        }
      }

      .skills {
        .soft-skills .skills-item {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  html {
    font-size: 16px;

    //  =============== media header =============================
    body {
      font-size: 16px;

      .fa-bars {
        display: block;

        &:hover {
          cursor: pointer;
        }
      }

      .second-header {
        font-size: 1.6rem;
      }

      .hamburger-wrapper {
        display: inline-block;
      }

      header nav {
        display: none;
        justify-content: flex-end;
        text-align: center;
        position: absolute;
        right: 0;
        left: 0;

        ul {
          background-color: #104c69;
          max-width: 200px;
          width: 100%;
          display: flex;
          flex-direction: column;
          padding: 0;

          li {
            padding: 20px 0;
            margin: 0 auto;
            width: 100%;

            a {
              font-size: 1rem;
            }
          }
        }
      }

      header {
        .triangle {
          border-left: 60px solid transparent;
          border-bottom: 60px solid $additional-color;
          border-top: 60px solid transparent;
          border-right: 60px solid transparent;
          top: -15px;
          left: 40px;

          &:before {
            border-left: 35px solid transparent;
            border-bottom: 70px solid #d6ce15;
            border-top: 0 solid transparent;
            border-right: 35px solid transparent;
            top: 10px;
            left: 50px;
          }

          &:after {
            border-left: 40px solid transparent;
            border-bottom: 40px solid #d6ce15;
            border-top: 40px solid transparent;
            border-right: 40px solid transparent;
            top: 63px;
            left: -30px;
          }
        }
      }

      header .header-wrapper {
        .main-header {
          margin: 150px 0 5% 0;
          width: 55%;
        }

        .laptop {
          min-width: 30%;
        }
      }

      //  =============== media about=============================
      .card__body {
        transform: var(--level-two);
        font-weight: var(fw-normal);
        font-size: 0.9rem;
      }

      .skills {
        width: 100%;

        .soft-skills .skills-item {
          width: 100%;
        }

        .skills-icons {
          width: 410px;
        }

        .hexagon {
          width: 70px;
          height: 25px;
          line-height: 25px;
          font-size: 10px;
          font-weight: 500;
          margin: 14px 2px;

          &:before {
            content: "";
            border-left: 35px solid transparent;
            border-right: 35px solid transparent;
            border-bottom: 25px solid $color-hex;
          }

          &:after {
            border-left: 35px solid transparent;
            border-right: 35px solid transparent;
            border-top: 25px solid $color-hex;
          }
        }
      }

      .contact .contact-form {
        width: 85%;

        .name-email-wrapper {
          flex-direction: column;

          .form-item:last-child {
            margin: 0;
          }
        }
      }
    }
  }
}

@media (max-width: 420px) {
  html {
    font-size: 14px;

    //  =============== media header =============================
    body {
      font-size: 14px;

      .second-header {
        font-size: 1.6rem;
        margin-bottom: 60px;

        &::after {
          width: 80px;
          height: 20px;
          position: absolute;
          top: 55px;
          left: calc(50% - 40px);
        }
      }

      .third-header {
        font-size: 1rem;
      }

      .header-icon {
        font-size: 2rem;
      }

      header {
        nav {
          display: none;
          justify-content: flex-end;
          text-align: center;

          ul {
            background-color: #104c69;
            max-width: 200px;
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 0;

            li {
              padding: 30px 0;
              margin: 0 auto;
              width: 100%;

              a {
                font-size: 1rem;
              }
            }
          }
        }

        .triangle {
          border-left: 40px solid transparent;
          border-bottom: 40px solid $additional-color;
          border-top: 40px solid transparent;
          border-right: 40px solid transparent;
          top: -15px;
          left: 40px;

          &:before {
            border-left: 25px solid transparent;
            border-bottom: 50px solid #d6ce15;
            border-top: 0 solid transparent;
            border-right: 25px solid transparent;
            top: 10px;
            left: 40px;
          }

          &:after {
            border-left: 30px solid transparent;
            border-bottom: 30px solid #d6ce15;
            border-top: 30px solid transparent;
            border-right: 30px solid transparent;
            top: 53px;
            left: -30px;
          }
        }
      }

      header .header-wrapper {
        .main-header {
          margin: 45% 0 5% 0;
          width: 90%;
        }

        .laptop {
          min-width: 50%;
        }
      }

      .skills {
        width: 100%;

        .soft-skills {
          margin: -30px 10px 10px 10px;

          .skills-item {
            width: 100%;
            margin-top: 0;
          }
        }

        .skills-icons {
          width: 340px;
        }

        .hexagon {
          width: 60px;
          height: 25px;
          line-height: 25px;
          font-size: 10px;
          font-weight: 500;
          margin: 14px 4px;
          background-color: $color-hex;

          &:before {
            border-left: 30px solid transparent;
            border-right: 30px solid transparent;
            border-bottom: 25px solid $color-hex;
          }

          &:after {
            border-left: 30px solid transparent;
            border-right: 30px solid transparent;
            border-top: 25px solid $color-hex;
          }
        }
      }
    }

    .projects .project-item {
      .project-header {
        font-size: 1.4rem;
      }

      .project-desc {
        padding: 0 20px;
      }

      .project-links .project-link {
        margin: 20px 0;

        &:nth-child(2) {
          margin-left: 20px;
        }
      }
    }
  }
}

@media (max-height: 420px) and (max-width: 823px) {
  html body header {
    .triangle {
      border-left: 40px solid transparent;
      border-bottom: 40px solid $additional-color;
      border-top: 40px solid transparent;
      border-right: 40px solid transparent;

      &:before {
        border-left: 15px solid transparent;
        border-bottom: 50px solid $additional-color;
        border-right: 15px solid transparent;
        left: 60px;
      }

      &:after {
        top: 53px;
        left: -40px;
      }
    }
  }

  html body header .header-wrapper {
    .main-header {
      margin: 50px 0 2% 0;
      width: 50%;
      font-size: 1.2rem;
    }
    .header-desc {
      font-size: 0.6rem;
    }

    .laptop {
      min-width: 20%;
      margin-top: 0;
    }
  }

  header .fa-angle-double-down {
    display: none;
  }

  header nav ul li {
    display: none;
  }

  header .hamburger-wrapper {
    display: inline-block;
  }
}

// iPhon X
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  html body header .header-wrapper {
    .main-header {
      margin: 23vh 0 8vh 0;
      width: 80%;
    }

    .laptop {
      margin-top: 6vh;
    }
  }
}

// iPad Pro portrait
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
  html body header .header-wrapper {
    .main-header {
      margin: 18vh 0 8vh 0;
      font-size: 3rem;
      width: 80%;
      padding: 50px 10px;
    }

    .header-desc {
      font-size: 1.2rem;
    }

    .laptop {
      margin-top: 6vh;
      max-width: 40%;
    }
  }
}

// iPad Pro landscape
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
  nav ul li a {
    font-size: 1.2rem;
  }
  html body header .header-wrapper {
    .main-header {
      margin: 18vh 0 5vh 0;
      font-size: 3rem;
      width: 80%;
      padding: 50px 10px;
    }

    .header-desc {
      font-size: 1.2rem;
    }

    .laptop {
      margin-top: 3vh;
      max-width: 20%;
    }
  }
}

// iPad portrait
@media only screen and (min-width: 768px) and (max-height: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
  html body header .header-wrapper {
    .main-header {
      margin: 18vh 0 5vh 0;
      font-size: 2.5rem;
      width: 80%;
      padding: 50px 10px;
    }

    .header-desc {
      font-size: 1rem;
    }

    .laptop {
      margin-top: 2vh;
      max-width: 40%;
    }
  }
}

// iPad landscape
@media only screen and (min-width: 1024px) and (max-height: 768px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
  nav ul li a {
    font-size: 1rem;
  }
  html body header .header-wrapper {
    .main-header {
      margin: 18vh 0 5vh 0;
      font-size: 2rem;
      width: 60%;
      padding: 30px 10px;
    }

    .header-desc {
      font-size: 0.8rem;
    }

    .laptop {
      margin-top: 3vh;
      max-width: 20%;
    }
  }
}

// iPhoneX
@media only screen and (min-width: 812px) and (max-height: 375px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
  nav ul li a {
    font-size: 1rem;
  }

  html body header .header-wrapper {
    .main-header {
      margin: 0 0 5vh 0;
      font-size: 1.2rem;
      width: 50%;
      padding: 10px 10px;
    }

    .header-desc {
      font-size: 0.5rem;
    }

    .laptop {
      margin-top: 0;
      max-width: 15%;
    }
  }
}

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      0deg,
      rgba(20, 100, 137, 0.6),
      rgba(20, 100, 137, 1)
    ),
    url(../images/cubism4.jpg);
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/* ---- stats.js ---- */

.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13e8e9;
  font-size: 0.8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles {
  font-size: 1.1em;
}

#stats,
.count-particles {
  -webkit-user-select: none;
}

#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles {
  border-radius: 0 0 3px 3px;
}
