@import "variables";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: $third-color;

  .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
}

p {
  line-height: 1.6;
  font-weight: 300;
}

.first-header {
  font-size: 50px;
  font-weight: 100;
  color: $second-color;
  text-align: center;
}

.second-header {
  text-align: center;
  font-weight: 600;
  font-size: 40px;
  padding-top: 20px;
  position: relative;
  margin-bottom: 80px;

  &:after {
    content: "";
    // background-color: $main-color;
    border-bottom: 3px dotted $main-color;
    width: 80px;
    height: 20px;
    position: absolute;
    top: 85px;
    left: calc(50% - 40px);
  }
}

.third-header {
  color: $third-color;
  font-weight: 700;
  font-size: 20px;
}

.dark {
  color: $third-color;
}
.light {
  color: $second-color;
}

.fas {
  color: $main-color;
  font-size: 40px;
  text-align: center;
  display: block;
}

.header-icon {
  font-size: 40px;
  text-align: center;
  display: block;
  color: $main-color;
}

.main-color {
  color: $main-color;
}

.button, .link {
  background-color: #28a5df;
  padding: 5px 10px;
  width: 100px;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  transition: 0.3s;
  border: none;
  margin: 0 auto;
  display: block;
  font-size: 18px;
  font-family: "Poppins";
  text-decoration: none;

  &:hover {
    background-color: $btn-hover;
    cursor: pointer;
  }
}
// ================== section header ===========================
header {
  background-image: url(../images/img-05.jpg);
  height: 100vh;

  ul {
    margin: 0;
    display: flex;
    justify-content: center;
    padding-top: 80px;

    li {
      margin: 0;
      list-style-type: none;
      position: relative;

      a {
        color: $second-color;
        text-decoration: none;
        // margin-right: 20px;
        text-transform: uppercase;
        padding: 1.5rem;
        font-size: 1rem;
        font-weight: 500;

        &.sign {
          font-size: 120px;
          font-weight: 800;
          position: relative;
          top: -90px;

          &:before {
            content: "";
            width: 0;
            height: 0;
            border-top: 30px solid #28a5df;
            border-right: 10px solid transparent;
            border-left: 10px solid transparent;
            // background-color: #28A5DF;
            position: absolute;
            // display: inline-block;
            top: 64px;
            left: 59px;
          }
        }
      }
    }
  }

  .header-desc {
    text-align: center;
    margin-top: 30px;
    font-weight: 300;
    letter-spacing: 0.5px;
    max-width: 70%;
    margin: 30px auto 0;
  }

  .img-laptop {
    position: relative;
    top: 50px;
    left: 50px;
    width: 600px;
  }

  .fa-angle-double-down {
    color: $second-color;
    margin: 0 auto;
    position: relative;
    display: block;
    text-align: center;
    font-size: 25px;
    top: 230px;
  }
}

// ================== section about ===========================
.about {
  padding-top: 60px;

  .about-sections {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;

    .about-desc {
      padding: 0 60px;

      span {
        color: $main-color;
      }
    }

    .img-tel {
      width: 300px;
      height: 535px;
      margin-left: 50px;
      position: relative;
      top: -150px;
      // height: 500px;
    }
  }
}

// ================== section skills ===========================

.skills {
  padding-top: 50px;
  margin-top: -100px;
  background-color: #0404040d;
  padding-bottom: 60px;

  .second-header &:after {
    border-bottom: 3px dotted $main-color;
  }

  .skills-icons {
    display: flex;
    justify-content: space-around;
    border-radius: 50%;
    padding-top: 30px;

    .fab {
      font-size: 40px;
      color: $third-color;
      display: block;
      border-radius: 50%;
      height: 300px;
      width: 300px;
      margin: 0;
      border: 3px solid $main-color;
    }
  }

  .soft-skills {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 85%;
    margin: 40px auto 0;

    .skills-item {
      padding: 20px;
      display: flex;

      .third-header {
        margin-bottom: 15px;
      }

      .far {
        font-size: 30px;
        padding-top: 10px;
        color: $main-color;
      }

      .skills-desc {
        padding-left: 30px;
      }
    }
  }

  .skills-icons {
    max-width: 35%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .fab {
      margin: 20px 40px;
    }
  }

  .hexagon {
    width: 100px;
    height: 55px;
    background: #e1e2e2;
    position: relative;
    text-align: center;
    line-height: 55px;
    font-size: 18px;
    font-weight: 400;
    margin: 14px 2px;
    color: $third-color;

    &:before {
      content: "";
      position: absolute;
      top: -25px;
      left: 0;
      width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-bottom: 25px solid #e1e2e2;
    }

    &:after {
      content: "";
      position: absolute;
      bottom: -25px;
      left: 0;
      width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-top: 25px solid #e1e2e2;
    }
  }
}

// ================== section projects ===========================

.projects {
  padding-top: 50px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;

  .project-item {
    display: flex;
    margin-bottom: 100px;

    &:nth-child(even) {
      text-align: right;
    }

    .project-paragraph {
      font-weight: 400;
    }

    .img-wrapper {
      flex: 1 ;
      padding: 0 50px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .project-desc {
      padding: 0 50px;
      width: 50%;

      .checkmark {
        padding: 0;

        li {
          list-style: none;
          padding: 0 0 0 25px;
          position: relative;
          line-height: 36px;
          margin: 0;

          &:after {
            content: "";
            position: absolute;
            top: 10px;
            left: 2px;
            width: 4px;
            height: 10px;
            border: solid $main_color;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
          }
        }
      }
    }

    .project-header {
      color: $third-color;
      font-size: 30px;
      font-weight: 600;
      margin: 30px 0 10px 0;
    }

    .project-technology {
      margin-bottom: 30px;
      font-size: 18px;
      font-weight: 500;
      color: $main-color;
    }

    .project-links {
      display: flex;

      .project-link {
        text-decoration: none;
        background-color: $third-color;
        margin: 40px 15px;
        padding: 5px 10px;
        width: 100px;
        text-align: center;
        color: $second-color;
        border-radius: 5px;
        transition: 0.3s;

        &:hover {
          background-color: #2e2e2e;
        }

      }
    }

    .right {
      justify-content: flex-end;
    }
  }
}

// ================== section contact ===========================
.contact {
  background-color: $bg-light;
  padding-bottom: 50px;
  padding: 50px 0;

  .contact-media {
    display: flex;
    flex-direction: row;
    justify-content: center;

    i {
      color: $main-color;
      margin: 10px  30px 50px 30px;
      transition: 0.5s;
      font-size: 42px;

      &:hover {
        color: $third-color;
      }     
    }
  }

  .data-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .contact-form {
    width: 50%;
    margin: 0 auto;
   
      .wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .form-item:first-child {
          margin-right: 15px;
        }

        .form-item:last-child {
          margin-left: 15px;
        }
      }
    
    .form-item {
      display: flex;
      flex-direction: column;
      width: 100%;

    input, textarea {
      border: none;
      background-color: white;
      margin-bottom: 25px;
      width: 100%;
      border-radius: 5px;
      box-shadow: 1px 1px 10px #dcdcdc;

      &:focus {
        outline: none;
      }
    }

    textarea {
      padding: 20px;
    }
    
    input {
      line-height: 36px;
      height: 36px;
      padding: 0 20px;
      padding: 0 20px;
      font-size: 18px;
      color: rgb(69, 69, 69); 
    }

    label {
        padding-bottom: 8px;
        font-weight: 700;
        font-size: 18px;
        color: #4242429e;
      }
    }
  }

  .button {
    margin-top: 15px;
  }
}